a {
  text-decoration: none !important;
}

h1 {
  color: #472d2d !important;
}

h2 {
  color: #553939 !important;
  margin-top: 50px !important;
}

h3 {
  color: #553939 !important;
  font-size: 1.5rem !important;
}

.block {
  display: block;
}

.grey-border {
  border: 1px gray solid;
}

.img-one {
  border-radius: 20px;
  box-shadow: 2px 2px 3px #14100fb4, 0px 0px 0px #e6e6e6, 0px 0px 0px #e6e6e6;
}

.max-width-400 {
  max-width: 400px !important;
}

.max-width-500 {
  max-width: 500px !important;
}

#main-content {
  padding-bottom: 20px;
}

#page1 {
  background-color: #f3f7f2;
}
